- title "Taxis"

%h1= image_tag 'h1.png', :alt => 'Ride with a Local'

#info
  = image_tag 'info.png'
  %div
    %h2 Information
    %p
      We are providing a number of volunteer-driven taxis to help
      RailsConf attendees get to their hotels and also to the conference
      center from BWI airport.
    %p
      On the map are the current locations of our taxi drivers. These
      locations will update automatically every 30 seconds.

#schedule
  = image_tag 'schedule.png'
  %div
    %p
      The taxis are running Sunday June 6 and Monday June 7 from 12pm to 6pm.
    %p
      Our taxi drivers are making the rounds as fast as they
      can. We aim to have someone stop at each location at
      least once every 30 minutes.
    %p
      Look for our taxis to have the red RailsConf logo posted in their windsheild.
    %p
      Stop locations are all on the "Ground Transportation" level:
    %ul
      %li Outside baggage claim 6 (near the elevator)
      %li Outside Baggage claim 14 (next to the international arrivals)

#map-container
