@charset "UTF-8";
/* CSS Document */

h1, #info, #schedule {
  z-index: 200;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  position: absolute;
  top: 10px;
  left: 5px;
  margin: 0;
  padding: 0;
}
h2 {
  color: #000;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 10px;
}
p {
  color: #000;
}
#info img, #schedule img {
  background-image: url("/ride-with-a-local/images/yellow_background.png");
  padding: 5px;
  float: right;
}
#info, #schedule {
  width: 320px;
  position: absolute;
  right: 0;
}
#info {
  top: 80px;
}
#schedule {
  top: 150px;
}

#info div, #schedule div {
  background-image: url("/ride-with-a-local/images/yellow_background.png");
  padding: 10px;
  width: 237px;
  -moz-border-radius-topleft: 12px;
  -moz-border-radius-bottomleft: 12px;
  -moz-border-radius-bottomright: 12px;
  -webkit-border-top-left-radius: 12px;
  -webkit-border-bottom-left-radius: 12px;
  -webkit-border-bottom-right-radius: 12px;
  display:none;
}

#map-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 0;
}

